<div style="padding: 1em 1em;" class="cmc-cover-modifiers">
  <h3>{{localize "CORIOLISMODERNCOMBAT.COVER.title"}}</h3>
  <div class="cmc-cover-list">
    {{radioBoxes groupName choices checked=chosen localize=true}}
  </div>
</div>
