#pause {
	height: 278px;
	gap: 1rem;
}

#pause img {
    width: 228px;
    height: 228px;
	--fa-animation-duration: 20s;
	box-sizing: border-box;
	padding-left: 228px;
	background-image: url("/modules/coriolis-modern-combat/assets/images/Coriolis-scarab.webp");
	background-size: cover;
	margin-top: 10px;
}

#pause figcaption {
	font-family:  "Coriolis Modern Combat - Dr Sugiyama", cursive;
    font-weight: 800;
    font-style: normal;
	padding-bottom: 20px;
}

.combat-sidebar .combat-tracker .token-initiative button {
	background: url('/modules/coriolis-modern-combat/assets/images/coriolis-dice.webp') no-repeat center / contain;
}

.yzecoriolis.sheet.actor .always-visible-stats .perma-stats-list .entry .capitalize {
    text-transform: none;
}

.cmc-cover-list {
    column-count: 2;
    column-gap: 1.5em;
}

.cmc-cover-list label {
    display: block;
    font-size: var(--font-size-14);
}

.palette.status-effects {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: repeat(9, auto);
  grid-auto-flow: column;
  gap: 4px 8px;
}
.palette.status-effects .effect-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px 4px;
  cursor: pointer;
} 
.palette.status-effects .effect-label {
  font-size: 12px;
  white-space: nowrap;
}

.palette.status-effects .effect-item:hover{
  outline: 1px solid red;
  outline-offset: 2px;
  border-radius: 4px;
}

.palette.status-effects .effect-control.active {
    filter: brightness(0) saturate(100%) invert(74%) sepia(40%) saturate(3200%) hue-rotate(130deg);
}

.dice-roll .dice-formula {
    word-break: unset;
}
.dice-formula .formula-part {
    display: inline-block;
    white-space: nowrap;
}
.dice-formula .formula-tag {
    font-size: 0.8rem;
    color: darkcyan;
}

.chat-message .cmc-adjust-dp {
    text-align: center;
    font-size: 0.8rem;
}

#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3,
#JournalEntrySheet-JournalEntry-4TdXRvkk31Cj3YWH,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-4TdXRvkk31Cj3YWH {
    --color-warm-2: darkcyan;
    --color-warm-3: darkcyan;
    --color-scrollbar: darkcyan;
    max-width: 1210px;
    max-height: 875px;
}

#JournalEntrySheet-JournalEntry-4TdXRvkk31Cj3YWH,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-4TdXRvkk31Cj3YWH {
    min-width: 988px;
}

/* Don't show Edit button */
#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 .edit-container,
#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 #context-menu .context-item:nth-child(1),
#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 #context-menu .context-item:nth-child(2),
#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 #context-menu .context-item:nth-child(3),
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 .edit-container,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 #context-menu .context-item:nth-child(1),
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 #context-menu .context-item:nth-child(2),
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 #context-menu .context-item:nth-child(3),
#JournalEntrySheet-JournalEntry-4TdXRvkk31Cj3YWH .edit-container,
#JournalEntrySheet-JournalEntry-4TdXRvkk31Cj3YWH #context-menu .context-item:nth-child(1),
#JournalEntrySheet-JournalEntry-4TdXRvkk31Cj3YWH #context-menu .context-item:nth-child(2),
#JournalEntrySheet-JournalEntry-4TdXRvkk31Cj3YWH #context-menu .context-item:nth-child(3),
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-4TdXRvkk31Cj3YWH .edit-container,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-4TdXRvkk31Cj3YWH #context-menu .context-item:nth-child(1),
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-4TdXRvkk31Cj3YWH #context-menu .context-item:nth-child(2),
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-4TdXRvkk31Cj3YWH #context-menu .context-item:nth-child(3) {
    display: none;
}

#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 .journal-entry-content,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 .journal-entry-content,
#JournalEntrySheet-JournalEntry-4TdXRvkk31Cj3YWH .journal-entry-content,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-4TdXRvkk31Cj3YWH .journal-entry-content {
    background-image: url(../assets/images/Coriolis-GUI-3.webp);
    background-size: 100% 200%;
    background-position: center -57px;
    background-repeat: no-repeat;
    padding: 40px 80px 0 80px;
}
#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3.sheet.journal-entry .journal-header .title,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3.sheet.journal-entry .journal-header .title,
#JournalEntrySheet-JournalEntry-4TdXRvkk31Cj3YWH.sheet.journal-entry .journal-header .title,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-4TdXRvkk31Cj3YWH.sheet.journal-entry .journal-header .title {
    background: none;
    border: none;
}

#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 .journal-page-content div h3,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 .journal-page-content div h3 {
    color: white;
    margin: 5px 0;
}
#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 .journal-page-content .MsoListParagraphCxSpFirst,
#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 .journal-page-content .MsoListParagraphCxSpMiddle,
#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 .journal-page-content .MsoListParagraphCxSpLast,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 .journal-page-content .MsoListParagraphCxSpFirst,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 .journal-page-content .MsoListParagraphCxSpMiddle,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 .journal-page-content .MsoListParagraphCxSpLast {
    padding-left: 10px;
}
#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 span[style*="foundrygridnik" i],
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 span[style*="foundrygridnik" i] {
  font-family: Signika, "Palatino Linotype", sans-serif !important;
}
#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 p.ACTION,
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 p.ACTION {
    font-weight: bolder;
}

#JournalEntrySheet-JournalEntry-3bZcoXIKzxKKatl3 .journal-entry-content a:not(.content-link),
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-3bZcoXIKzxKKatl3 .journal-entry-content a:not(.content-link),
#JournalEntrySheet-JournalEntry-4TdXRvkk31Cj3YWH .journal-entry-content a:not(.content-link),
#JournalEntrySheet-Compendium-coriolis-modern-combat-modern_combat_rules-JournalEntry-4TdXRvkk31Cj3YWH .journal-entry-content a:not(.content-link) {
    color: blue
}